.header{
    padding: 10px;
    background-color: #E70037;

    .header-icon{
        float: left;
        height: 21px;
        line-height: 21px;
        color: #fff;
    }

    .header-title{
        text-align: center;
        font-size: 16px;
        color: #fff;
    }
}