.userinfo{
    margin-top: 14px;
    background-color: #fff;
    padding: 0 10px;

    .info-group{
        padding: 10px 0;
        border-bottom: 1px solid #ccc;

        &:last-child{
            border-bottom: 0;
        }

        i{
            margin-right: 14px;
        }
    }
}