.home-ad{
    background-color: #fff;

    .ad-list{
        padding: 10px;

        .ad-item{
            float: left;
            width: 33.33%;
            height: 140px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}