.search-header{
    padding: 10px;
    background-color: #E70037;

    .search-back{
        float: left;
        width: 24px;
        height: 24px;
        line-height: 24px;
        color: #fff;
    }

    .search-box{
        margin-left: 24px;
    }
}